<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">

      <div class="col-md-3">
        <div class="card mb-3 box-shadow">
          <img routerLink="/topics/1" class="card-img-top" src="assets/images/html.jpg" alt="Card image cap">
        </div>
      </div>

      <div class="col-md-3">
        <div class="card mb-3 box-shadow">
          <img routerLink="/topics/2" class="card-img-top" src="assets/images/css.jpg" alt="Card image cap">
        </div>
      </div>

      <div class="col-md-3">
        <div class="card mb-3 box-shadow">
          <img routerLink="/topics/3" class="card-img-top" src="assets/images/javascript.jpg" alt="Card image cap">
        </div>
      </div>

      <div class="col-md-3">
        <div class="card mb-3 box-shadow">
          <img routerLink="/topics/4" class="card-img-top" src="assets/images/bootstrap.jpg" alt="Card image cap">
        </div>
      </div>

    </div>

    <!-- second row -->
    <div class="row">

        <div class="col-md-3">
          <div class="card mb-3 box-shadow">
            <img routerLink="/topics/5" class="card-img-top" src="assets/images/angular.jpg" alt="Card image cap">
          </div>
        </div>
  
        <div class="col-md-3">
          <div class="card mb-3 box-shadow">
            <img routerLink="/topics/6" class="card-img-top" src="assets/images/node.js.jpg" alt="Card image cap">
            </div>
        </div>
  
        <div class="col-md-3">
          <div class="card mb-3 box-shadow">
            <img routerLink="/topics/7" class="card-img-top" src="assets/images/react.js.jpg" alt="Card image cap">
            </div>
        </div>

        <div class="col-md-3">
          <div class="card mb-3 box-shadow">
            <img routerLink="/topics/8" class="card-img-top" src="assets/images/angular.js.jpg" alt="Card image cap">
          </div>
        </div>
  
      </div>

      <!-- Third row -->

      <div class="row">

          <div class="col-md-3">
            <div class="card mb-3 box-shadow">
              <img routerLink="/topics/9" class="card-img-top" src="assets/images/typescript.jpg" alt="Card image cap">
            </div>
          </div>
  
    
          <div class="col-md-3">
            <div class="card mb-3 box-shadow">
              <img routerLink="/topics/10" class="card-img-top" src="assets/images/jquery.jpg" alt="Card image cap">
            </div>
          </div>
        
  </div>
</div>

