<header class="text-center">
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

    <main role="main" class="inner cover">
      <h1 class="cover-heading">MAKE LEARNING AWESOME!</h1>
      <p class="lead">QuizMaster! brings fun into learning web technologies. Explore your knowledge, and you always walk away learning something new! <br><br>Test your knowledge Now!!!</p>
      <p class="lead">
        <a routerLink="/topics" class="btn btn-lg btn-secondary">Get Started</a>
      </p>
    </main>


  </div>
</header>